Package: com.ps.replaykitmax-rootless
Name: ReplayKit Max
Version: 1.0.0
Architecture: iphoneos-arm
Description: Record screen without resolution cap.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 14.0)
Depiction: https://poomsmart.github.io/repo/depictions/replaykitmax.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/replaykitmax.json
